@CHARSET "UTF-8";
.main {
    background-color: #3abeb1 !important;
}
.imageBackground {
	background-image: url(login/19.jpg);
}
.headlineTextStyle {
	text-align: center;
	font-weight: bold;
	font-size: 24pt;
}
.boardBackgroundColor {
	background-color: #e5e3e1;
	padding-top: 1em;
	padding-bottom: 1em;
}
	.panel-heading {
  border: 1px solid #C1D1E0 !important;
  border-radius: 3px !important;
	color: #4A5664 !important;
  cursor: pointer !important;
  padding: 20px !important;
}

.panel-heading:hover, .panel-heading:active, .panel-heading:not([class*="collapsed"]) {
  background-color: #3abeb1 !important;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.panel-body {
  border: 1px solid #C1D1E0 !important;
  border-radius: 3px !important;
}