@CHARSET "UTF-8";
.body-color {
	background-color: white;
}
.container-style-addlot {
	margin-top:2em;
	margin-bottom:2em;
}
.main-text-style {
	text-align: left;
	color:white;
	margin-top: 0.5em;
	margin-bottom:0.5em;
	border-bottom:solid;
}
.background-color-add_lot {
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 100%;
    background-repeat:no-repeat;
}
.img-margin-bottom {
	margin-bottom: 1em;
}
.background-image-add_lot{
	background-image: url(../../images/body-add-lot.jpg);
}
.button-on-add-lot {
	color: white;
    background-color: inherit;
    border-color: white;
    border-radius: 40px;
    border-width: 2px;
    font-size: 14pt;
}
.button-on-add-lot:hover,.button-on-add-lot:active, .button-on-add-lot:focus {
	color: inherit !important;
    background-color:  white !important;
    border-color:  white !important;
}
.margin-bottom-button {
	padding-bottom: 2em;
}
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;

  padding-left:30%;
  overflow: hidden;
  padding-bottom: 5%;

}

.switch-title {
  margin-bottom: 6px;
  color:white;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 90px;
  background-color: #3abeb1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #85d7cf;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.text-style-add-lot {
	font-size: 25pt;
	text-align: center;
	margin-top: 0em;
	margin-bottom:0.5em;
}
.text-style-board-add-lot {
	font-size: 14pt !important;
}
.text-align-justify{
	text-align: justify !important;
}

}
@media (min-width: 768px) {
	
}
@media (min-width: 992px) {
	.vertical-line {
	border-right: 2px solid #E1E1E1;
	min-height: 100%;
	}
}
@media (min-width: 1200px) {
	.vertical-line {
	border-right: 2px solid #E1E1E1;
	min-height: 100%;
	}
}
.button-add-lot-style{
	width: 100%;
	background-color: #3abeb1;
	border-color: #3abeb1;
}
.button-add-lot-style:hover, .button-add-lot-style:active, .button-add-lot-style:focus {
	width: 100%;
	background-color: #85d7cf  !important;
	border-color: #85d7cf !important;
}

.visibility-field {
visibility: collapse;
position: absolute;
}
/**
 * jQuery Timepicker - v1.3.3 - 2016-05-20
 * http://timepicker.co
 *
 * Enhances standard form input fields helping users to select (or type) times.
 *
 * Copyright (c) 2016 Willington Vega; Licensed MIT, GPL
 */

.ui-timepicker-container {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

.ui-timepicker {
    box-sizing: content-box;
    display: block;
    height: 205px;
    list-style: none outside none;
    margin: 0;
    padding: 0 1px;
    text-align: center;
}

.ui-timepicker-viewport {
    box-sizing: content-box;
    display: block;
    height: 205px;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden; /* IE */
}

.ui-timepicker-standard {
    /* overwrites .ui-widget */
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    /* overwrites .ui-widget-content */
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #222;
    /* overwrites .ui-menu */
    margin: 0;
    padding: 2px;
}
.ui-timepicker-standard a {
    border: 1px solid transparent;
    color: #222;
    display: block;
    padding: 0.2em 0.4em;
    text-decoration: none;
}
.ui-timepicker-standard .ui-state-hover {
    /* overwrites .ui-state-hover */
    background-color: #DADADA;
    border: 1px solid #999;
    font-weight: normal;
    color: #212121;
}
.ui-timepicker-standard .ui-menu-item {
    /* overwrites .ui-menu and .ui-menu-item */
    /*clear: left;
    float: left;*/
    margin: 0;
    padding: 0;
}

.ui-timepicker-corners,
.ui-timepicker-corners .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ui-timepicker-hidden {
    /* overwrites .ui-helper-hidden */
    display: none;
}

.ui-timepicker-no-scrollbar .ui-timepicker {
    border: none;
}

 .backgroundImageStyle {
 background-image: url(../login/19.jpg);
 }
 
.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 150px;
    background-color: #3abeb1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3abeb1 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}