@CHARSET "UTF-8";
.body-color {
	background-color: white;
}
.container-style-addlot {
	margin-top:2em;
	margin-bottom:2em;
}
.main-text-style {
	text-align: left;
	color:white;
	margin-top: 0.5em;
	margin-bottom:0.5em;
	border-bottom:solid;
}
.background-color-add_lot {
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 100%;
    background-repeat:no-repeat;
}
.img-margin-bottom {
	margin-bottom: 1em;
}
.background-image-add_lot{
	background-image: url(../../images/body-add-lot.jpg);
}
.button-on-add-lot {
	color: white;
    background-color: inherit;
    border-color: white;
    border-radius: 40px;
    border-width: 2px;
    font-size: 14pt;
}
.button-on-add-lot:hover,.button-on-add-lot:active, .button-on-add-lot:focus {
	color: inherit !important;
    background-color:  white !important;
    border-color:  white !important;
}
.margin-bottom-button {
	padding-bottom: 2em;
}
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
  padding-left:120px;
  padding-top:0px;
	overflow: hidden;

}

.switch-title {
  margin-bottom: 6px;
  color:white;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 90px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.text-style-add-lot {
	font-size: 25pt;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom:0.5em;
}
.text-style-board-add-lot {
	font-size: 14pt !important;
}
.text-align-justify{
	text-align: justify !important;
}

}
@media (min-width: 768px) {
	
}
@media (min-width: 992px) {
	.vertical-line {
	border-right: 2px solid #E1E1E1;
	min-height: 100%;
	}
}
@media (min-width: 1200px) {
	.vertical-line {
	border-right: 2px solid #E1E1E1;
	min-height: 100%;
	}
}
.button-add-lot-style{
	background-color: #334A61; 
	border-color: #334A61;
}