@CHARSET "UTF-8";
.main{
	background-image: url(19.jpg);
	width:100%;
	padding-top: 4em;
	
}
.img-responsive{
	margin:auto;
	object-fit: cover; 
	width: 230px;
    height: 150px;
}
body{
	background-color:#222;
}
.title{
	text-align:center;
	color:white;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}

.stars {
    margin:20px auto 1px;    
}
.main-button-style {
	background-color: rgb(58, 190, 177);
	border-color: rgb(58, 190, 177);
	border-radius: 10px !important;
	color: white;
}
.main-button-style:hover, .main-button-style:focus, .main-button-style:active {
	background-color: white !important;
	border-color: rgb(58, 190, 177) !important;
	border-radius: 10px !important;
	color:rgb(58, 190, 177) !important;
}
.text-style-on-lot {
	color: #808080;
	text-decoration: none;
}
.text-style-on-lot:hover, .text-style-on-lot:active, .text-style-on-lot:focus  {
	color: #808080;
}
a {
	color: #808080;
}
h5 {
	color: black;
}
h2, small{
	color:rgb(85, 85, 85);

}
.list-group-item-heading{
	color:rgb(85, 85, 85) !important;
}
.centered-and-cropped { 
	object-fit: cover;
	-o-object-fit: cover; 
	}
img {
	width: 230px;
    height: 150px;
}
.navbar-brand{
	width:165px; !important
}	
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

.result-description{
	text-align: justify;
    word-wrap: break-word;
}